<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths:{
            'echarts' : 'js/echarts',
            'echarts/chart/bar' : 'js/echarts'
        }
    });

    // 使用
    require(
        [
            'echarts',
            'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
        ],
        drewEcharts
    );
    function drewEcharts(ec) {

        console.log("1");
        // 基于准备好的dom，初始化echarts图表
        myChart = ec.init(document.getElementById('main'));
        console.log("2");
        var option = {
            tooltip: {
                show: true
            },
            legend: {
                data:['销量']
            },
            xAxis : [
                {
                    type : 'category'

                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    "name":"销量",
                    "type":"bar"

                }
            ]
        };
        //加载数据
        loadDATA(option);
        // 为echarts对象加载数据
        myChart.setOption(option);

    }
    function loadDATA(option){
        $.ajax({
            type : "post",
            async : false, //同步执行
            url : "test.do",
            data : {},
            dataType : "json", //返回数据形式为json
            success : function(result) {
                if (result) {
                    //初始化option.xAxis[0]中的data
                    option.xAxis[0].data=[];
                    for(var i=0;i<result.length;i++){
                        option.xAxis[0].data.push(result[i].name);
                    }
                    //初始化option.series[0]中的data
                    option.series[0].data=[];
                    for(var i=0;i<result.length;i++){
                        option.series[0].data.push(result[i].num);
                    }
                }
            }
        });
    }
</script>
</body>
</html>